<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if !@error.nil? && @error != "" %>
    <div id="error_explanation">
      <h2> error prohibited this account from being saved:</h2>
      <ul>      
        <li><%= @error %></li>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount,:min => 10 %>
  </div>  
  <div class="field">
	<%= f.label :from %><br />
	<%= f.collection_select :from, @accounts, :id, :name, {:prompt => "Please select ...."},{:class =>'accounts_select',:onchange=> "getAccountBalance(this.value,null)"} %>
  </div>
  <div class="field">
	<%= f.label :to %><br />
	<%= f.collection_select :to, @accounts, :id, :name, {:prompt => "Please select ...."},{:class =>'accounts_select'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
