<p>
  <b>Date:</b>
  <%= @transaction.created_at %>
</p> 

<p>
  <b>Description:</b>
  <%= @transaction.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>From:</b>
  <%= @transaction.from.name %>
</p>

<p>
  <b>To:</b>
  <%= @transaction.to.name %>
</p>

<p>
	<b>Receipt:</b>
	<% if @transaction.receipt_file_name.nil? %>
		-
	<% else %>
		<%= @transaction.receipt_file_name%>
		<%= image_tag @transaction.receipt.url %>
	<% end %>
</p>

<%= link_to 'Back', transactions_path %>
