
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
    <% if current_user.has_role? :Owner %>
      <li>
      <%= link_to('Users', users_path) %>	  
      </li>
    <% end %>
	<li>
      <%= link_to('Accounts', accounts_path) %>
    </li>
	<li>
      <%= link_to('Transactions', transactions_path) %>
    </li>
	<% if current_user.has_role? :User %>
		<li>
		  test
		</li>
	<% end %>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
