<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<p>
  <b>Balance:</b>
  <%= @account.balance %>
</p>

<p>
  <b>Accounttype:</b>
  <%= @account.AccountType.name%>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
